{% extends 'Frontend/layout.html.twig' %}

{% block pageTitle %}{% trans %}Cron Jobs{% endtrans %}{% endblock %}

{%- block stylesheets -%}
  {{ parent() }}
  <link href="{{ asset('/assets/css/frontend/site.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid container-limited-width">
  <div class="site-container">
    {{ include('Frontend/Site/Partial/site-info.html.twig', {'site': site}) }}
    <div class="site-content-container">
      {{ include('Frontend/Site/Partial/tab-container.html.twig', {'active': 'cron-jobs', 'site': site}) }}
      {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
      {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
      <div class="site-content">
        <div class="card card-table">
          <div class="card-header d-flex justify-content-between">
            {% trans %}Cron Jobs{% endtrans %}
            <a href="{{ path('clp_site_cron_job_new', {'domainName': site.domainName}) }}" class="btn btn-md btn-blue">{% trans %}Add Cron Job{% endtrans %}</a>
          </div>
          {% if site.cronJobs|length %}
            <div class="card-body card-body-no-padding">
              <table class="table">
                <thead>
                  <tr>
                    <th width="150">
                      {% trans %}Schedule{% endtrans %}
                    </th>
                    <th>
                      {% trans %}Command{% endtrans %}
                    </th>
                    <th width="100" class="text-end">
                      {% trans %}Action{% endtrans %}
                    </th>
                  </tr>
                </thead>
                <tbody>
                {% for cronJob in site.cronJobs %}
                  <tr>
                    <td>
                      {{ cronJob.schedule }}
                    </td>
                    <td>
                      <a href="{{ path('clp_site_cron_job_edit', {'domainName': site.domainName, 'id': cronJob.id}) }}">{{ cronJob.command }}</a>
                    </td>
                    <td class="text-start table-actions">
                      <a class="delete" href="{{ path('clp_site_cron_job_delete', {'domainName': site.domainName, 'id': cronJob.id, 'token': csrf_token('cronjob-delete')}) }}" onclick="return confirm('{% trans %}Are you sure?{% endtrans %}')">{% trans %}Delete{% endtrans %}</a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="card-body">
              {% trans %}No cron jobs found.{% endtrans %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}