{% extends 'Frontend/layout.html.twig' %}

{% block pageTitle %}{% trans %}SSH User{% endtrans %}{% endblock %}

{%- block stylesheets -%}
  {{ parent() }}
  <link href="{{ asset('/assets/css/frontend/site.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid container-limited-width">
  <div class="site-container">
    {{ include('Frontend/Site/Partial/site-info.html.twig', {'site': site}) }}
    <div class="site-content-container">
      {{ include('Frontend/Site/Partial/tab-container.html.twig', {'active': 'users', 'site': site}) }}
      {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
      {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
      <div class="site-content">
        {{ form_start(form) }}
        <div class="card card-table">
          <div class="card-header d-flex justify-content-between">
            {% trans %}SSH User{% endtrans %}
          </div>
          <div class="card-body card-body-no-padding">
            <div class="card-form">
              <div class="row">
                <div class="col-6 {{ (form_errors(form.userName) ? 'has-error' : '') }}">
                  {{ form_label(form.userName, null, {'label_attr': {'class': 'col-form-label'}}) }}
                  {{ form_widget(form.userName) }}
                </div>
                <div class="col-6 {{ (form_errors(form.password) ? 'has-error' : '') }}">
                  {{ form_label(form.password, null, {'label_attr': {'class': 'col-form-label'}}) }}
                  {{ form_widget(form.password) }}
                  <a class="generate-new-password" data-input-element="site_ssh_user_edit_password" href="javascript:void(0);">{% trans %}Generate new password{% endtrans %}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-12 {{ (form_errors(form.sshKeys) ? 'has-error' : '') }}">
                  {{ form_label(form.sshKeys, null, {'label_attr': {'class': 'col-form-label'}}) }}
                  {{ form_widget(form.sshKeys) }}
                </div>
              </div>
              <div class="row">
                <div class="col text-end">
                  {{ form_widget(form.submit) }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
<script>
jQuery(document).ready(function() {
  function setPassword(inputElement) {
    inputElement.val(generatePassword(20));
  }
  let inputElement = jQuery('#site_ssh_user_edit_password');
  jQuery('.generate-new-password').on('click', function () {
    let inputElementId = jQuery(this).attr('data-input-element');
    let inputElement = jQuery('#' + inputElementId);
    setPassword(inputElement);
  });
});
</script>
{% endblock %}