{% extends 'Frontend/layout.html.twig' %}

{% block pageTitle %}{% trans %}File Manager{% endtrans %}{% endblock %}

{%- block stylesheets -%}
  {{ parent() }}
  <link href="{{ asset('/assets/css/frontend/site.css') }}" rel="stylesheet">
  <link href="{{ asset('/assets/css/frontend/logs.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container-fluid container-limited-width">
  <div class="site-container">
    {{ include('Frontend/Site/Partial/site-info.html.twig', {'site': site}) }}
    <div class="site-content-container">
      {{ include('Frontend/Site/Partial/tab-container.html.twig', {'active': 'file-manager', 'site': site}) }}
      {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
      {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
      <div class="site-content">
        <iframe src="{{ fileManagerUrl }}" frameborder="0" scrolling="no" width="100%" height="673" id="file-manager" style="overflow: hidden;"></iframe>
      </div>
    </div>
  </div>
</div>
{% endblock %}