{% extends 'Frontend/layout.html.twig' %}

{% block pageTitle %}{% trans %}PHP-FPM Pool{% endtrans %}{% endblock %}

{% block body %}
<div class="container-fluid container-limited-width">
  <div class="site-container">
    {{ include('Frontend/Site/Partial/site-info.html.twig', {'site': site}) }}
    <div class="site-content-container">
      {{ include('Frontend/Site/Partial/tab-container.html.twig', {'active': 'php-fpm', 'site': site}) }}
      {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
      {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
      <div class="site-content">
        <div class="card">
          <div class="card-header">{% trans %}PHP-FPM Pool Tuning{% endtrans %}</div>
          <div class="card-body">
            <div class="alert alert-info">
              <p>{% trans %}These settings control how PHP-FPM scales worker processes for this site. Bad values can OOM the box. Defaults: pm=dynamic, max_children=10, start_servers=2, min_spare_servers=1, max_spare_servers=3, max_requests=500.{% endtrans %}</p>
            </div>

            {{ form_start(form, {'attr': {'class': 'form'}}) }}
              {% for fieldName in ['pm', 'pmMaxChildren', 'pmStartServers', 'pmMinSpareServers', 'pmMaxSpareServers', 'pmMaxRequests'] %}
                <div class="form-group">
                  {{ form_label(attribute(form, fieldName)) }}
                  {{ form_widget(attribute(form, fieldName), {'attr': {'class': 'form-control'}}) }}
                </div>
              {% endfor %}
              <div class="form-group">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-blue'}}) }}
              </div>
            {{ form_end(form) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
