{% extends 'Admin/layout.html.twig' %}

{% block pageTitle %}Google Compute Engine{% endblock %}

{% block sidebar -%}
  {{ include('Admin/Partial/sidebar.html.twig', {'active': 'gce'}) }}
{% endblock %}

{% block body %}
<div class="notifications-container">
  <div class="page-header">
    <div class="page-title">
      <h1>Google Compute Engine</h1>
    </div>
  </div>
  <div class="page-content">
    {{ include('Admin/Gce/Partial/tab-container.html.twig', {'active': 'settings'}) }}
    {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
    {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
    <div class="gce-settings-container">
      <div class="card card-table">
        <div class="card-header d-flex justify-content-between">
          {% trans %}Service Account Keys{% endtrans %}
        </div>
        {{ form_start(serviceAccountKeysForm) }}
        <div class="card-body card-body-no-padding">
          <div class="card-form">
            <div class="row">
              <div class="col {{ (form_errors(serviceAccountKeysForm.serviceAccountKeys) ? 'has-error' : '') }}">
                {{ form_label(serviceAccountKeysForm.serviceAccountKeys, null, {'label_attr': {'class': 'col-form-label'}}) }}
                {{ form_widget(serviceAccountKeysForm.serviceAccountKeys) }}
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                {{ form_widget(serviceAccountKeysForm.submit) }}
              </div>
            </div>
          </div>
        </div>
        {{ form_end(serviceAccountKeysForm) }}
      </div>
    </div>

    <div class="do-snapshots-settings-container">
      <div class="card card-table">
        <div class="card-header d-flex justify-content-between">
          {% trans %}Snapshots Settings{% endtrans %}
        </div>
        {{ form_start(snapshotsSettingsForm) }}
        <div class="card-body card-body-no-padding">
          <div class="card-form">
            <div class="row">
              <div class="col">
                <div class="col-12 {{ (form_errors(snapshotsSettingsForm.automaticSnapshots) ? 'has-error' : '') }}">
                  <div class="form-check form-switch mb-2">
                  {{ form_label(snapshotsSettingsForm.automaticSnapshots, null, {'label_attr': {'class': 'form-check-label'}}) }}
                  {{ form_widget(snapshotsSettingsForm.automaticSnapshots) }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 {{ (form_errors(snapshotsSettingsForm.frequency) ? 'has-error' : '') }}">
                {{ form_label(snapshotsSettingsForm.frequency, null, {'label_attr': {'class': 'col-form-label'}}) }}
                {{ form_widget(snapshotsSettingsForm.frequency) }}
              </div>
              <div class="col-6 {{ (form_errors(snapshotsSettingsForm.retentionPeriod) ? 'has-error' : '') }}">
                {{ form_label(snapshotsSettingsForm.retentionPeriod, null, {'label_attr': {'class': 'col-form-label'}}) }}
                {{ form_widget(snapshotsSettingsForm.retentionPeriod) }}
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                {{ form_widget(snapshotsSettingsForm.submit) }}
              </div>
            </div>
          </div>
        </div>
        {{ form_end(snapshotsSettingsForm) }}
      </div>
    </div>

  </div>
</div>
{% endblock %}