{% extends 'Admin/layout.html.twig' %}

{% block pageTitle %}{% trans %}Settings{% endtrans %}{% endblock %}

{% block sidebar -%}
  {{ include('Admin/Partial/sidebar.html.twig', {'active': 'instance'}) }}
{% endblock %}

{% block body %}
<div class="notifications-container">
  <div class="page-header">
    <div class="page-title">
      <h1>{% trans %}Instance{% endtrans %}</h1>
    </div>
    <div class="page-actions">
      <a class="btn btn-lg btn-white" href="{{ path('clp_admin_instance_restart', {'token': csrf_token('instance-restart')}) }}" onclick="return confirm('{% trans %}Are you sure?{% endtrans %}')">{% trans %}Reboot{% endtrans %}</a>
    </div>
  </div>
  <div class="page-content">
    <div class="instance-settings-container">
      {{ include('Admin/Instance/Partial/tab-container.html.twig', {'active': 'settings'}) }}
      {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
      {{ include('Partial/form-errors.html.twig', { 'formErrors': formErrors }) }}
      <div class="instance-proftpd-settings-container">
        {{ form_start(proftpdSettingsForm) }}
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            {% trans %}Proftpd Settings{% endtrans %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 {{ (form_errors(proftpdSettingsForm.masqueradeAddress) ? 'has-error' : '') }}">
                {{ form_label(proftpdSettingsForm.masqueradeAddress, null, {'label_attr': {'class': 'col-form-label'}}) }}
                {{ form_widget(proftpdSettingsForm.masqueradeAddress) }}
              </div>
              <div class="form-text">{% trans %}MasqueradeAddress causes the server to display the network information for the specified IP address or DNS hostname to the client.{% endtrans %}</div>
            </div>
          </div>
          <div class="card-footer text-end">
            {{ form_widget(proftpdSettingsForm.submit) }}
          </div>
        </div>
        {{ form_end(proftpdSettingsForm) }}
      </div>
      <div class="instance-settings-container">
        {{ form_start(instanceSettingsForm) }}
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            {% trans %}Instance Settings{% endtrans %}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 {{ (form_errors(instanceSettingsForm.timezone) ? 'has-error' : '') }}">
                {{ form_label(instanceSettingsForm.timezone, null, {'label_attr': {'class': 'col-form-label'}}) }}
                {{ form_widget(instanceSettingsForm.timezone) }}
              </div>
              <div class="form-text">{% trans %}It's recommended to reboot the instance after changing the timezone.{% endtrans %}</div>
            </div>
          </div>
          <div class="card-footer text-end">
            {{ form_widget(instanceSettingsForm.submit) }}
          </div>
        </div>
        {{ form_end(instanceSettingsForm) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}